.section_home{
    display: flex;
    justify-content: space-between;

    background-image: url(../images/background-1.jpg);
}

.squares{
    width: 40%;
}

#square-1, #square-2{
    width: 12rem;
    height: 12rem;
    position: relative;
    transform: rotate(45deg);
}

#square-1{
    background-color: rgb(112, 0, 0);
    top: 20rem;
    left: 10rem;
    /* top: 23rem; */
}

#square-2{
    background-color: rgb(73, 0, 0);
    top: 11rem;
    left: 10rem;
}