.section_home{
    display: flex;
    justify-content: space-between;

    background-image: url(../images/background-1.jpg);
}



/* SQUARES */

.squares{
    width: 43%;
}

.square-1, .square-2{
    width: 17rem;
    height: 17rem;
    position: relative;
    transform: rotate(45deg);
}

.square-1{
    background-color: rgb(112, 0, 0);
    left: 10rem;
    top: 20rem;
}

.square-2{
    background-color: rgb(73, 0, 0);
    top: -2rem;
    left: 10rem;

    transition: .7s;
}

.downSquare{
    top: 3rem;
}


/* ANIMAÇÃO */

/* [data-anime1]{
    transition: .7s;
} */

/* [data-anime1].downSquare{
    top: 16rem;
} */